fastapi==0.111.0
sqlalchemy==2.0.30
psycopg[binary]==3.1.19
python-jose[cryptography]==3.3.0
bcrypt==4.2.1
python-multipart==0.0.9
pydantic==2.7.1
pydantic-settings==2.2.1
cryptography==42.0.7
python-dotenv==1.0.1
certifi==2024.2.2
slowapi==0.1.9
alembic==1.13.1
redis==5.0.4
limits==3.10.1